<% if (errors.length > 0) { %>
<div class="alert alert-danger d-flex align-items-center" role="alert">
  <svg class="bi flex-shrink-0 me-2" width="24" height="24" role="img" aria-label="Danger:"><use xlink:href="#exclamation-triangle-fill"/></svg>
  <div>
    <% errors.forEach(erro => { %>
      <%= erro %><br>
      <%- include('includes/messages', {erro: erro}); %>
    <% }); %>
  </div>
</div>
<% } %>

<% if (success.length > 0) { %>
  <div class="alert alert-success d-flex align-items-center" role="alert">
    <svg class="bi flex-shrink-0 me-2" width="24" height="24" role="img" aria-label="Success:"><use xlink:href="#check-circle-fill"/></svg>
    <div>
      <% success.forEach(success => { %>
        <%= success %><br>
      <% }); %>
    </div>
  </div>
  <% } %>
